.red-color-accent {
    color:rgb(88, 12, 15);
}
  .no-uppercase {
    text-transform: unset !important;
}
  .grow-img{
    transition: 1s ease;
}
  .add-shadow {
    box-shadow:-1px -1px 12px 18px rgba(184, 34, 42, 0.281) !important;
}

.app-bar-navigation-text{
    color: #eee !important;
    font-size: 25px;
    font-weight:500;
    text-shadow: -1px -1px 12px 18px rgba(184, 34, 42, 0.281) !important;
    text-decoration: none;
    transition: 1s ease;
}
.app-bar-navigation-text:hover{
    color: white !important;
    font-size: 28px;
    font-weight:500;
    text-shadow: -1px -1px 12px 18px rgba(184, 34, 42, 0.281) !important;
    text-decoration: none;
    background-color: red;
    transform: scale(1.3);
    transition: 0.5s ease;
}

  .grow-img:hover{
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   transition: 1s ease;
}

  .my-photo-background {
    background-image: url('~/assets/portfolio-dp1.png'), url('~/assets/svg1.svg') !important;
    background-size: contain !important;
    background-position: center !important;
    cursor: pointer;
}

  .svg-shaped-background {
    background-image: url('~/assets/svg1.svg'), url('~/assets/svg2.svg') !important;
    background-position: right bottom, left top !important;
    background-size: 500px 400px;
    cursor: pointer;
    transition: 1s ease;
}

  .svg-shaped-background:hover {
    background-image: url('~/assets/svg1.svg'), url('~/assets/svg2.svg') !important;
    background-position: right top, left bottom !important;
    background-size: 540px 430px;
    cursor: pointer;
    transition: 2s ease;
}

.frosted-effect {
    background-color: rgb(10, 10, 10) !important;  
    backdrop-filter: blur(10px) !important;
}

